# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
*.env

# ----------------------------
# Node / Frontend
# ----------------------------
node_modules/
dist/
build/
*.log

# ----------------------------
# IDE / OS
# ----------------------------
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# ----------------------------
# Misc
# ----------------------------
*.sqlite3
*.db
*.bak
*.zip
